#title{
    text-align: center;
    background-color: rgb(250, 68, 68);
    border: 5px rgb(7, 4, 4) inset;
    padding: 20px;
}

body{
    background-color: rgb(19, 18, 18);
}

#galeria1{
    text-align: center;
    color: aliceblue;
    border: 5px black ridge;
    margin-top: 50px;
    padding: 30px;
    padding-left: -30px;
    padding-right: -50px;
    font-size: 30px;
    background-color: black;
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    align-content: space-between;
    align-self: flex-start;
}

#imagen{
    width: 550;
    height: 800;
}